.meeting {
  color: white;
  width: 25vw;
  height: 80vh;
  margin: 5px;
  font-size: 50px;
  opacity: 0.8;
  overflow: hidden;
  position: relative;

  img {
    max-height: 100%;
  }
  p {
    position: absolute;
    bottom: 5%;
    font-size: 56px;
    font-weight: 500;
    width: 100%;
    text-align: center;
  }

  &:hover {
    opacity: 0.5;
  }
}

.platform {
  display: flex;
  justify-content: space-around;
}

.button-group{
  display: flex;
  justify-content: center;
  button {
    width: 100px;
    height: 50px;
  }
}
