<form [formGroup]="meetingForm" (ngSubmit)="onSubmit()">
  <div class="text-center">日期 {{date}}</div>
  <label class="form-label col-6">
    Meeting topic:
    <input type="text" class="form-control" formControlName="topic">
  </label>

  <label class="form-label col-6">
    room:
    <select class="form-select" aria-label="Default select example" formControlName="room">
      <option selected="selected" value="Mosco">Mosco</option>
      <option value="Tokyo">Tokyo</option>
      <option value="Dresdon">Dresdon</option>
    </select>
  </label>

  <label class="form-label col-6">
    start:
    <input type="text" class="form-control" formControlName="start">
  </label>

  <label class="form-label col-6">
    end:
    <input type="text" class="form-control" formControlName="end">
  </label>
  <button type="submit" class="btn btn-primary d-block mx-auto" [disabled]="!meetingForm.valid">Submit</button>
</form>
